body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('https://source.unsplash.com/1600x1900/?minimal');

 

}

#card {
 padding: 2em;
 margin: 0;
 width: 450px;
 height: 200px;
 background-color: #5c5c5c82;
 color: #242424;
 border: 2px solid #242424;
 padding: 10px;
 border-radius: 35px;	
 text-align: center;
 position: relative;
}

#card div {
	width: 450px;
	font-size: 500%;
	font-family: 'Iceland', monospace;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

button {
	width: 25%;
	height: 35px;
	justify-content: bottom;
	border: none;
	border-radius: 35px;
	color: #242424;
	font-size: 18px;
    display: inline-block;
	transition-duration: 0.4s;
}

#start {
	background-color: #4cc758;
}

#stop {
	background-color: #c74c4c;
}

#reset {
	background-color: #4c7fc7;
}

button:hover {
	color: white;
}